@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #496591;
    display: flex;
}
.side-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 100vh;
    background-color: #fff;
    border-radius: 0 35px 35px 0;
    padding: 10px;
    overflow-y: scroll;
}
.side-nav::-webkit-scrollbar{
    display: none;
}
    
.heading{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
}
.user-img img{
    width: 100%;
    object-fit: cover;
}
.user-role{
    font-size: 12px;
    text-transform: uppercase;
    color: #8f8d8d;
}
.nav-menu{
    padding: 10px 0px;
}
.nav-menu ul li{
    list-style: none;
    margin-bottom: 5px;
    
    /* background-color: aqua; */
}
.nav-menu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}
.nav-menu ul li a:hover{
    color: #000;
    background-color: #F8DC90;
}
.nav-menu ul li .text{
    flex: 1;
}
.nav-menu .sub-menu{
    display: none;
    margin-left: 50px;
    transition: all 0.3s;
}
/* .nav-menu ul li.active .sub-menu {
    transition: all 0.3s;
    display: block;
  } */

.nav-menu .sub-menu li a{
    padding: 10px 8px;
    font-size: 12px;
}